body {
  overflow-x: hidden;
}



hr.long {
  border-top: 2px solid lightgray;
}

.btn.btn-square {
  border-radius: 0;
  padding: 12px;
  margin: 15px;
  border: 2px solid;
}

.clients {
  background-image: url("../content/unique-design-bg.jpg");
  
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slider {
  margin-left: 25%;
  margin-top: 100px;
  color: grey;
}

.bubble {
  border: 2px;
  margin: 5%;
}

.div-slider {
  
  .bx-wrapper {
    border: none;
    box-shadow: none;
  }
  .bx-controls {
    display: none;
  }
}


.turk-box {
  border: 2px;
  border-style: solid;
  color: #95E1D3;
}

.navbar  {
  a{
    color: white !important;
  };
  .hover {
    color: yellow;
  }
}

hr.red { 
  border-top: 2px solid rgba(235, 67, 16, 0.726); 
  width: 60px;
} 

hr.white {
  border-top: 2px solid white; 
  width: 60px;
}

table.tab-center {
  text-align: center;
  align-content: center;
}

.padding-top {
  padding-top: 2000px;
}

.kaushan {
  font-family: 'Kaushan Script', cursive;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.size-h1 {
  font-size: 25px;
}

.size-h2 {
  font-size: 30px;
  font-weight: 700;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.gallery-col {
  flex: 25%;
  max-width: 25%;
  padding: 0px;
  img {
    vertical-align: middle;
    width: 100%;
  }
}

.bar-turk {
  background-color: #95E1D3;
}

.text-header1 {
  color: white;
  font-size: 150px;
  font-weight: 900;
}

.text-header2 {
  color: white;
  font-size: 60px;
}

.size-h3 {
  font-size: 12px;
  color: lightgray;
  // font-weight: 700;
}

.center-text {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 30px;
}

#modalbt {
  background-color: #95E1D3;
  border-radius: 0;
  padding: 12px;
  margin: 15px;
  border: none;
}

.hero-image {
  background-image: url("../content/header.png");
  
  height: 100vh;
  // height: 1000px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.apple-images {
  background-image: url("../content/unique-design-bg.jpg");
  
  height: 750px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.devices {
  text-align: center;

  .ipad-img {
    position: absolute;
    bottom: 0px;
    margin-left: -20%;
    z-index: 1001;
  }
  
  .iphone-img {
    position: absolute;
    bottom: -60px;
    margin-left: 5% ;
    z-index: 1005;
  }
}

.navbar-nav.navbar-center {
  position: relative;
  left: 65%;
  top: 5%;
  transform: translatex(-50%);
  font-weight: bold;
  font-size: 20px;
  :hover {
    color: #FBE389 !important;
    text-decoration: underline;
  }
}


.fixed-top.scrolled {
  background-color: rgba(18, 16, 32, 0.9) !important;
  transition: background-color 2000ms linear;
}


.blog-1 {
  background-image: url("../content/latest-blog-thumb-001.jpg");
  
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.blog-2 {
  background-image: url("../content/latest-blog-thumb-002.jpg");

  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.blog-3 {
  background-image: url("../content/latest-blog-thumb-003.jpg");

  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.blog-head {
  font-size: 20px;
  margin-top: 10px;
}

.date-box {
  height: 70px;
  width: 70px;
  background-color: #95E1D3;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px; 
}

.date-mnd {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
}

.map {
  background-image: url("../content/map-bg.jpg");

  background-attachment: fixed;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.btn.sub-but {
  color: white;
  background-color: #95E1D3;
  border-radius: 0;
  // padding: 12px;
  // margin: 15px;
  border: 1px solid lightgray;
}

.instagram {
  .col-md-4 {
    padding: 0px;
  }
}


img.spin {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img.spin:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}


.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

  .hover-text {
    font-size: 30px;
    color: white;
    margin-top: 200px;
  }
}

 .overlay-image:hover .hover {
  opacity: 1;
}

 .overlay-image {
  position: relative;
  width: 100%;
}


 .overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

 .overlay-image .normal {
  transition: .5s ease;
}
 .overlay-image:hover .normal {
  opacity: 0;
}
 .overlay-image .hover {
  background-color: rgba(235, 67, 16, 0.726);
}

 